<!DOCTYPE HTML>
<html lang="en" class="no-js">

  <head>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="your text">
    
      <title>Your title</title>

      <!-- ============ Google Fonts ============ -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

      <!-- CSS -->
      <!-- Flexslider -->
      <link rel="stylesheet" type="text/css" href="static/css/plugins/flexslider.css">
      <!-- Font-Awesome 6 PRO-->
      <link rel="stylesheet" href="static/fonts/all.min.css" />
      <!-- LightCase -->
      <link rel="stylesheet" type="text/css" href="static/css/plugins/lightcase.css">
      <!-- SlickNav -->
      <link rel="stylesheet" type="text/css" href="static/css/plugins/slicknav.min.css">
      <!-- Animate -->
      <link rel="stylesheet" type="text/css" href="static/css/plugins/animate.min.css">
      <!-- Bootstrap 5 -->
      <link rel="stylesheet" type="text/css" href="static/css/plugins/bootstrap.min.css">
      <!-- Cube Portfolio -->
      <link rel="stylesheet" type="text/css" href="static/css/plugins/cubeportfolio.min.css">
      <!-- Custom styles CSS -->
      <link rel="stylesheet" type="text/css" href="static/css/main.css">
      <!-- Favicon -->
      <link rel="icon" type="image/png" href="static/images/favicon.png">

  </head>
  <body>

<script type='text/javascript'>var words = ["LOADING", "PORTFOLIO", "MODERN", "PHOTOGRAPHER", "Your Text"];</script>

<!-- LOADER TEMPLATE -->
<div class="page-loader">
<div class="text-loader">
  <div class="right">
      <h4 class="randoms"></h4>
      <h1 class="randoms"></h1>
      <h4 class="randoms"></h4>
  </div>
  <div class="left">
      <h4 class="randoms"></h4>
      <h1 class="randoms"></h1>
      <h4 class="randoms"></h4>
  </div>
</div>
</div>
<!-- /LOADER TEMPLATE -->

<!-- ADD THIS CLASS IF YOU WANT STICKY class="sticky"-->            
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

          {% block logo %}
         <!-- logo -->
         <div class="logo">
             <a href="{{ url_for('home.index_home') }}"><img src="static/images/label.png" alt="" width="100px"></a>
         </div>
         <!-- /logo -->
          {% endblock %}

         <nav>

            <div id="rex_menu">
                <ul>
                {% block nav_home %}
                <li class="has-sub">
                    <a href="{{ url_for('home.index_home') }}">
                        <span>Home</span>
                    </a>
                </li>
                {% endblock %}
                {% block nav_portfolio%}
                <li class="has-sub">
                    <a href="{{ url_for('portfolio.index_portfolio', pk=1) }}">
                        <span>Portfolio</span>
                    </a>
                </li>
                {% endblock %}
                {% block nav_contact %}
                <li class="has-sub">
                    <a href="{{ url_for('contact.index_contact') }}">
                        <span>Contact</span>
                    </a>
                </li>
                {% endblock %}
                {% block nav_about%}
                <li class="has-sub">
                    <a href="{{ url_for('about.index_about') }}">
                        <span>About me</span>
                    </a>
                </li>
                {% endblock %}
                </ul>
            </div>

         </nav>
         <!-- /navigation -->
       </div>
     </div>
  </div>
</header>

{% block wrapper %}{% endblock %}

<!-- footer -->
<footer>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

      <!-- social icons -->
      <div class="social-icons">
        <ul>

          <li><a href="" target="_blank"><i class="fa-brands fa-vk"></i></a></li>
          <li><a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="" target="_blank"><i class="fa-brands fa-google"></i></a></li>
        </ul>
      </div>
      <!-- /social icons -->  

      <!-- copyright -->
      <div class="copyright">
          Your text © 2023.<a href='https://github.com/Ser-Alex' target='_blank'>Design & Coded by SerAlex.</a>
      </div>
      <!-- /copyright -->

     </div>
    </div>
  </div>

</footer>
<!-- /footer -->
  {% block javascript %}
    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="static/js/plugins/jquery-1.12.4.min.js"></script>
    <!-- Modernizr -->
    <script src="static/js/plugins/modernizr.js"></script>
    <!-- jQuery.appear -->
    <script src="static/js/plugins/jquery.appear.js"></script>
    <!-- Lettering -->
    <script src="static/js/plugins/lettering.js"></script>
    <!-- Textillate -->
    <script src="static/js/plugins/textillate.js"></script>
    <!-- Wow -->
    <script src="static/js/plugins/wow.js"></script>
    <!-- Jarallax -->
    <script src="static/js/plugins/jarallax.js"></script>
    <!-- Lightcase -->
    <script src="static/js/plugins/lightcase.js"></script>
    <!-- Skills bar -->
    <script src="static/js/plugins/skills-bar.js"></script>
    <!-- Slick Nav -->
    <script src="static/js/plugins/slick-nav.js"></script>
    <!-- Flex Slider -->
    <script src="static/js/plugins/flexslider.js"></script>
    <!-- Images Loaded -->
    <script src="static/js/plugins/images-loaded.js"></script>
    <!-- Isotope -->
    <script src="static/js/plugins/isotope.js"></script>
    <!-- Sticky Plugin -->
    <script src="static/js/plugins/jquery.sticky.js"></script>
    <!-- Cube Portfolio -->
    <script src="static/js/plugins/jquery.cubeportfolio.min.js"></script>
    <!-- Google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV1KS10sb3O462XosfZTKohHJwi6C0joo"></script>
    <!-- Custom -->
    <script src="static/js/main.js"></script>
  {% endblock %}

    
</body>
</html>